<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add home</title>
</head>
<body>
    <header>
        <h1>Register your home here:</h1>
    </header>
    <main>
        <form action="/host/submit-home" method="post">
            <label for="houseName">Home Name:</label>
            <input type="text" name="houseName" id="houseName" required>
            <button type="submit">Submit</button>
        </form>
        <a href="/">Profile Page</a>
    </main>
</body>
</html>